name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  PHPUnit:
    name: PHPUnit (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - "8.3"
          - "8.2"
          - "8.1"
          - "8.0"
        rabbitmq:
          - "3.13-management"
          - "3.12-management"
          - "3.11-management"
          - "3.10-management"
    steps:
      - uses: actions/checkout@v3
      - uses: namoshek/rabbitmq-github-action@v1
        with:
          version: ${{ matrix.rabbitmq }}
          ports: "5672:5672 15672:15672"
          container-name: "rabbitmq"
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: phpunit:9, composer:v2
          coverage: none
      - run: composer install
      - run: vendor/bin/phpunit
