name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  PHPUnit:
    name: PHPUnit (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq:3.13-management
        ports:
          - 5672:5672
          - 15672:15672
    strategy:
      matrix:
        php:
          - "8.5"
          - "8.4"
          - "8.3"
          - "8.2"
          - "8.1"
        rabbitmq:
          - "3.13-management"
          - "3.12-management"
          - "3.11-management"
          - "3.10-management"
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - run: composer install
      - run: php tests/tester start
